---
import Label from '../components/label.astro'
import Meta from '../components/meta.astro'

import { fade } from 'astro:transitions';
import { sequence } from 'astro:middleware';

interface Props {
  statcode: string;
  govname: string;
  statname: string;
  years: number[];
}

const { statcode, govname, statname, years } = Astro.props;

const estat_url = "https://www.e-stat.go.jp/stat-search/database?page=1&toukei=" + statcode;

---

<style>
  
  div.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .info {
        display: flex;
        gap: 10px;
        flex-direction: row;
  }

  div.year {
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;

    }

  h2 {
    margin: 10px auto 20px auto;
  }


</style>

<div class="card">
    <div class="info">
        <Label icon = "bi:at" text={statcode} />
        <Label icon = "fluent:building-government-20-regular" text={govname} />
        <a href={estat_url} target="_blank" rel="noopener"><Label icon = "bi:link-45deg" text="e-Statで表示" /></a>
    </div>
    <h2>{statname}</h2>
    <div class="year">
        {
            years.map(year => (
                <Meta text={String(year)} />
            ))
        }
    </div>

</div>
